body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
h1
{
  color:purple;
}

h1, h2 {
        text-align: center;
    }
#header-nav {
  background-color: #ECDFF2;
}
.navbar-brand p {
    color:purple;
}
span {
  border:1px solid purple;
  /* color:purple; */
}
#nav-list li a:hover {
  color:purple;
}


.description {
  background-color: #ECDFF2;
  color: #6B029C;
  float: left;
  margin: 1%;
  border: 1px solid purple;
}

.description p{
  padding: 15px;
  text-align: justify;
}
